*{
    margin: 0;
    padding: 0;
}

.notification-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    
    transition: transform 0.2s ease-in-out;
}

.notification-button:hover {
    animation: shake 0.2s ease-in-out infinite;
}

.search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.search-button:hover {
    animation: shake 0.2s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
 
.logo   {
position: absolute;
top: 5px;
left: 50%;
z-index: 999;
transform: translate(-50%);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#search-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

#search-button:hover {
    background-color: #444;
}

#search-results {
    padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.video_box {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
  margin: 0;
}
.video_box:hover video{
    filter: brightness(1);
    transform: scale(1.1);
}

.video_box video {
  width: 100%;
  filter: brightness(0.75);
  transition: 1s;
  margin: 0;
}


.vita500img {
  width: 100%;
  height: auto; /* 이미지 높이를 자동으로 설정 */
  max-width: 1000px; /* 이미지의 최대 너비를 설정 */
  object-fit: cover; /* 이미지의 비율을 유지하면서 크기를 조절 */
  transition: all 0.5s ease-in-out; /* 이미지에 애니메이션을 추가 */
  overflow: hidden;
  border-radius: 10px; /* 이미지의 모서리를 둥글게 설정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 이미지에 그림자 애니메이션 */
  margin: 0 auto; /* 가운데 정렬 */
}

.vita500img:hover {
  overflow: hidden;
  transform: scale(1.05); /* 이미지에 마우스를 올렸을 때 확대 애니메이션 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 이미지에 마우스를 올렸을 때 그림자 애니메이션 */
}

.container {
  background: linear-gradient(to bottom, #ff6d00, #fee504); /* 주황색 계열의 그라데이션 추가 */
 
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center; /* 가운데 정렬 */
}